nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #F05736;
    color: #fff;
}

nav img {
    width: 30px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}

body {
    background-color: #FFE8F3;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

li {
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #ccc;
}

.img {
    width: 400px;
    height: 400px;
}

.main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.left-half {
    width: 50%;
    padding: 20px;
}

.right-half {
    width: 50%;
    padding: 20px;
}

.left-half h1 {
    margin-bottom: 10px;
}










body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.left-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px; /* Adjust spacing between images */
}

.image-container {
    margin-bottom: 20px; /* Adjust spacing between images */
}

.image-container img {
    width: 200px; /* Adjust image width */
    height: auto; /* Maintain aspect ratio */
}

.right-side {
    background-color: #F05736; /* Light red color */
    padding: 20px;
    display: flex;
    flex-direction: column; /* Display text in column */
    justify-content: center;
    align-items: flex-start; /* Align text to the left */
}

.box {
    text-align: left; /* Align text to the left */
}

.box p {
    margin-bottom: 10px;
}

.box .arrow {
    text-decoration: none;
    color: #333;
}

.box .arrow:hover {
    color: #555;
}
